streamlit
torch
torchvision
PIL
matplotlib
import streamlit as st
import torch
from torch import nn
import torch.nn.functional as F
from PIL import Image
from torchvision import transforms
import matplotlib.pyplot as plt
